sil/
sil/*
sil/**
.idea/
.idea/*
.idea/**
__pycache__/
__pycache__/*
__pycache__/**
.unotes/
.unotes/*
.unotes/**
.vscode/
.vscode/*
.vscode/**
quantities/
quantities/*
quantities/**
em/__pycache__/
em/__pycache__/*
em/__pycache__/**
em/fdfd_2d/__pycache__/
em/fdfd_2d/__pycache__/*
em/fdfd_2d/__pycache__/**
