sil/
sil/*
sil/**
__pycache__/
__pycache__/*
__pycache__/**
tests/
tests/*
tests/**
src/*egg*
src/mwtoolbox/.*
src/mwtoolbox/*pycache*
temp/
temp/*
temp/**
build/
build/*
build/**
dist/
dist/*
dist/**
quantities/
quantities/*
quantities/**
em/__pycache__/
em/__pycache__/*
em/__pycache__/**
em/fdfd_2d/__pycache__/
em/fdfd_2d/__pycache__/*
em/fdfd_2d/__pycache__/**
*.bat
.*
./*
./**
_*
_/*
_/**
